.card {
    width: 600px;
    border: 1px solid lavender;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    font-family: 'Adamina';
}

.card-name {
    margin: 0;
    margin-top: 15px;
    margin-left: 15px;
    letter-spacing: 1px;
    font-family: 'Adamina'
}

.card-message {
    margin-top: 8px;
    margin-left: 15px;
    letter-spacing: 1px;
    text-align: left;
    font-family: 'Adamina';
}

.circle {
    position: absolute;
    top: 5%;
    right: 3%;
    background-color: transparent;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 33px;
    font-family: Cochin;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-out;
}

.circle:hover {
    background-color: rgb(58, 212, 212);
}

.dots {
    margin-bottom: 20px;
}
