.register-card {
    width: 600px;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    padding-top: 30px;
    font-family: 'Adamina';
}

.fill-in {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
    font-family: 'Adamina';
}

.register-email-div {
    margin-top: 20px;
}

.register-username-div, .register-email-div, .register-password-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;   
}

.register-username, .register-email, .register-password {
    color: var(--text-color);
    font-size: 22px;
    margin-right: 10px;
    width: 120px;
    text-align: left; 
}

.register-username-input, .register-email-input, .register-password-input {
    width: 220px;
    border-radius: 5px;
   
    outline: none;
    font-size: 20px;
    padding-left: 5px;
    letter-spacing: 0.4px;
}

.register-button {
    background-color: var(--primary-color);
    color: white;
    padding: 6px 10px;
    border: none;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    width: 180px;
    margin: 35px 50px;
}

.register-button:hover {
    opacity: 0.8;
}

.register-button:active {
    transform: translateY(2px);
}

@media screen and (max-width: 630px) {
    .register-card {
        width: 400px;
        margin-top: 50px;
        padding-top: 30px;
        padding-left: 0px;
        align-items: flex-start;
     
    }
    .register-username, .register-email, .register-password {
        color: var(--text-color);
        font-size: 22px;
        margin-right: 10px;
        width: 100px;
        text-align: left; 
    }


    .register-username, .register-email, .register-password {
        color: var(--text-color);
        font-size: 18px;
        margin-right: 10px;
        width: 110px;
        text-align: left; 
        margin-left: 10px;
    }


    .register-button {
        font-size: 18px;
        width: 180px;
        margin: 35px 110px;
    }

    .fill-in {
        font-size: 17px;
        margin-top: 10px;
        font-weight: 500;
        font-family: 'Adamina';
        margin-left: 40px;
    }
}



@media screen and (max-width: 440px) {
    
    .register-username, .register-email, .register-password {
        color: var(--text-color);
        font-size: 15px;
        margin-right: 10px;
        width: 80px;
        text-align: left; 
        margin-left: 10px;
    }

    .register-card {
        width: 350px;
        margin-top: 50px;
        padding-top: 30px;
        padding-left: 0px;
        align-items: flex-start;
        border: none;
     
    }

    .register-button {
        font-size: 15px;
        width: 170px;
        margin: 35px 90px;
    }

    .fill-in {
        font-size: 15px;
        margin-top: 10px;
        font-weight: 500;
        font-family: 'Adamina';
        margin-left: 40px;
    }
}